Stworzyć następujące klasy: Library, Employee, Book, Order. 
Dodatkowo: Każda klasa ma mieć zaimplementowaną metodę __str__ , która będzie opisywała obiekt oraz ewentualne obiekty znajdujące się w tym obiekcie (np. obiekt Library w obiekcie Book).
Pola w klasie mają być zdefiniowane jako atrybuty ustawiane podczas tworzenia instancji klasy za pośrednictwem konstruktora.
Stworzyć 2 biblioteki (2 instancje klasy), 5 książek, 3 pracowników, 3 studentów, oraz 2 zamówienia.
Wyświetlić oba zamówienia (print).

In [2]:
nl_char = "\n"

class Library:
  def __init__(self, city, street, zip_code, open_hours: str, phone):
    self.city = city
    self.street = street
    self.zip_code = zip_code
    self.open_hours = open_hours
    self.phone = phone
  def __str__(self):
      return f'city: {self.city} street: {self.street} zip code: {self.zip_code} open hours: {self.open_hours} phone: {self.phone}'
 
class Employee:
  def __init__(self, first_name, last_name, hire_date, birth_date, city, street, zip_code, phone):
    self.first_name = first_name
    self.last_name = last_name
    self.hire_date = hire_date
    self.birth_date = birth_date
    self.city = city
    self.street = street
    self.zip_code = zip_code
    self.phone = phone
  def __str__(self):
      return f'first name: {self.first_name} last name: {self.last_name} hire date: {self.hire_date} birth date: {self.birth_date} city: {self.city} street: {self.street} zip code: {self.zip_code} phone: {self.phone}'
    
class Book:
  def __init__(self, library, publication_date, author_name, author_surname, number_of_pages):
    self.library = library
    self.publication_date = publication_date
    self.author_name = author_name
    self.author_surname = author_surname
    self.number_of_pages = number_of_pages
  def __str__(self):
      return f'library: {self.library.__str__()}\npublication date: {self.publication_date} author name: {self.author_name} author surname: {self.author_surname} number of pages:{self.number_of_pages}'
    
class Order:
  def __init__(self, employee, student, books, order_date):
    self.employee = employee
    self.student = student
    self.books = books
    self.order_date = order_date
  def __str__(self):
      return f'employee: {self.employee.__str__()}\nstudent: {self.student.__str__()}\nbooks:\n{nl_char.join(map(str, [str(index)+": "+book.__str__() for index, book in enumerate(self.books)]))}'

class Student:
  def __init__(self, name, marks):
    self.name = name
    self.marks = marks
  def __str__(self):
      return f'name: {self.name} marks: {self.marks}'

In [3]:
library1 = Library('Katowice', 'ul. Ulica', '00-000', '9:30 - 20:15', '997')
library2 = Library('Katowice', 'ul. Jakaś', '11-111', '9:30 - 18:15', '997')

In [4]:
employee1 = Employee('Natalia', 'Pierwsza', '22-10-2022', '16-01-2022', 'Katowice', 'ul. Jakaś', '00-000', '997')
employee2 = Employee('Natalia', 'Druga', '22-10-2022', '16-01-2022', 'Katowice', 'ul. Jakaś', '00-000', '997')
employee3 = Employee('Natalia', 'Trzecia', '22-10-2022', '16-01-2022', 'Katowice', 'ul. Jakaś', '00-000', '997')

In [5]:
book1 = Book(library1, '22-09-2021', 'Natalia', 'Truskawka', 600)
book2 = Book(library2, '23-09-2022', 'Natalia', 'Jabłko', 500)
book3 = Book(library1, '24-09-2023', 'Natalia', 'Pomarańcza', 400)
book4 = Book(library2, '25-09-2024', 'Natalia', 'Borówka', 300)
book5 = Book(library1, '26-09-2025', 'Natalia', 'Krawczyk', 200)

In [6]:
student1 = Student('Natalia', [88, 76, 94, 33])
student2 = Student('Zuzanna', [22, 91, 50, 64])
student3 = Student('Karolina', [50, 46, 100, 94])

In [7]:
order1 = Order(employee1, student2, [book1, book2, book4], '29-07-2021')
order2 = Order(employee3, student1, [book5, book4, book3], '11-07-2019')

In [9]:
print(order1.__str__())
print("\n")
print(order2.__str__())

employee: first name: Natalia last name: Pierwsza hire date: 22-10-2022 birth date: 16-01-2022 city: Katowice street: ul. Jakaś zip code: 00-000 phone: 997
student: name: Zuzanna marks: [22, 91, 50, 64]
books:
0: library: city: Katowice street: ul. Ulica zip code: 00-000 open hours: 9:30 - 20:15 phone: 997
publication date: 22-09-2021 author name: Natalia author surname: Truskawka number of pages:600
1: library: city: Katowice street: ul. Jakaś zip code: 11-111 open hours: 9:30 - 18:15 phone: 997
publication date: 23-09-2022 author name: Natalia author surname: Jabłko number of pages:500
2: library: city: Katowice street: ul. Jakaś zip code: 11-111 open hours: 9:30 - 18:15 phone: 997
publication date: 25-09-2024 author name: Natalia author surname: Borówka number of pages:300


employee: first name: Natalia last name: Trzecia hire date: 22-10-2022 birth date: 16-01-2022 city: Katowice street: ul. Jakaś zip code: 00-000 phone: 997
student: name: Natalia marks: [88, 76, 94, 33]
books:
0: library: city: Katowice street: ul. Ulica zip code: 00-000 open hours: 9:30 - 20:15 phone: 997
publication date: 26-09-2025 author name: Natalia author surname: Krawczyk number of pages:200
1: library: city: Katowice street: ul. Jakaś zip code: 11-111 open hours: 9:30 - 18:15 phone: 997
publication date: 25-09-2024 author name: Natalia author surname: Borówka number of pages:300
2: library: city: Katowice street: ul. Ulica zip code: 00-000 open hours: 9:30 - 20:15 phone: 997
publication date: 24-09-2023 author name: Natalia author surname: Pomarańcza number of pages:400